<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.strixian.android.gwamify"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
    
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar"
        android:name="GwamifyApp" >
        
        <activity
            android:name=".Splash"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
	            <category android:name="android.intent.category.LAUNCHER" />
	        </intent-filter>
        </activity>
        
        <activity
            android:name=".MainMenu"
            android:label="@string/title_activity_mainmenu">
        </activity>
        
        <activity
            android:name=".Game"
            android:label="@string/title_activity_game"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" >
        </activity>
        
        <activity
            android:label="@string/title_activity_leaderboard"
            android:name=".Leaderboard">
        </activity>
        
        <activity
            android:label="@string/title_activity_setkeyboard"
            android:name=".SetKeyboard">
        </activity>
        
        <activity
            android:label="@string/title_activity_settings"
            android:name=".Settings">
        </activity>
        
        <activity
            android:name=".EndGame"
            android:label="@string/title_activity_endgame">
        </activity>
        
    </application>

</manifest>